h2 {
  text-align: center;
  margin: 5%;
}

P {
  margin: 5% 5%;
}

div {
  display: flex;
  justify-content: center;
}

img {
  background-color: #032442;
  width: 50%;
  height: 50vh;
  margin-bottom: 5%;
}