

.cond-gen {
  text-align: center;
  margin: 5%;
}

P {
  margin: 5% 5%;
}

.images {
  background-color: #032442;
  display: block;
  color: white;
  justify-content: center;
}

.image-payplug {
  margin-left: 36%;
  width: 30%;
  margin-bottom: 5%;

}