html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
  background: radial-gradient(#F4F4F4, #ffffff);
}


/******** SECTION 1 *******/

.content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%
}


.sky {
  width: 100%;
}

.text-content {
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-family: 'dolce vita';
}

/******** SECTION 2 *******/

.background_pack {
  padding: 20px;
}

.title_services {
  display: block;
}

.first_pack {
  color: #032442;
  font-size: 70px;
  line-height: 45px;;
  text-align: center;
}

.light_size {
  font-weight: 400;
  font-size: 40px;
}

.title_drone {
  color: #032442;
  font-family: 'dolce vita';
  font-size: 30px;
}

.typo_size_title {
  font-size: 25px;
}

.description_services {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.line {
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.garantie {
  font-size: 30px;
  font-weight: 400;
}

.typo_size_paragraphe {
  font-size: 25px;
  font-weight: 300;
}

.button_buy {
  width: 100%;
}

.button_buy a{
  background-color:#FF993C;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/******** SECTION 3 *******/
.background_pack_quinze {
  background-color: #032442;
  padding: 30px;
  padding-bottom: 90px;
}

.title_services_two {
  display: block;
}

.second_pack {
  color: white;
  font-size: 70px;
  line-height: 45px;;
  text-align: center;
}

.light_size_pack {
  font-weight: 400;
  font-size: 40px;
}

.service_supp {
  color: white;
  font-family: 'dolce vita';
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 70px;
}

.services_added {
  color: white;
  font-family: 'dolce vita';
  font-size: 30px;
}

.typo_size_drone {
  font-size: 25px;
}

.description_drone_plus {
  font-size: 18px;
  line-height: 30px;
  color: white;
  font-weight: 300;
}

.line_drone_plus {
  border: 1px solid white;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.garantie_drone_plus {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.typo_size_drone_plus {
  font-size: 25px;
  font-weight: 300;
  color: white;
}

.button_buy {
  width: 100%;
}

.button_buy a{
  background-color:#FF993C;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/******** SECTION 4 *******/
.background_pack_deluxe {
  padding: 20px;
}

.title_services_deluxe {
  display: block;
}

.title_deluxe {
  color: #032442;
  font-size: 70px;
  line-height: 45px;;
  text-align: center;
}

.light_size_deluxe {
  font-weight: 400;
  font-size: 40px;
}

.title_drone {
  color: #032442;
  font-family: 'dolce vita';
  font-size: 30px;
}

.service_added_deluxe {
  font-family: 'dolce vita';
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 70px;
  color: #032442;
}

.services_supp_deluxe {
  font-family: 'dolce vita';
  font-size: 30px;
  color: #032442;
}

.typo_size_deluxe {
  font-size: 25px;
}

.deluxe_paragraphe {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.line {
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.garantie_deluxe {
  font-size: 30px;
  font-weight: 400;
}

.typo_deluxe_size {
  font-size: 25px;
  font-weight: 300;
}

.button_buy {
  width: 100%;
  margin-bottom: 40px;
}

.button_buy a{
  background-color:#FF993C;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
 
/******** SECTION 5 *******/
.pictures_drone {
  padding: 20px;
  background-color: white;

}

.drone_colis,
.picture_drone_two,
.pictures_drone_one {
  padding: 20px;
}

.drone_colis_picture,
.drone_grey,
.drone_flying {
  width: 100%;
}

/******** SECTION 6 *******/
.background_application {
  padding: 20px;
  background-color: #032442;
}

.explication_application {
  display: block;
}

.application_title {
  text-align: center;
  color: white;
  font-family: 'dolce vita';
  font-size: 30px;

}

.paragraphe_explication {
  margin-top: 70px;
  display: inline-flex;
}
.line_orange {
  border: 1px solid #F18819;
  display: flex;
  margin-right: 10px;
}

.app_paragraphe {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.bouton_app {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.bouton_app a {
  background-color:#FF993C;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-family: 'dolce vita', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/******** SECTION 7 *******/

.logo_app {
  display: flex;
  margin-top: 80px;
}

.android,
.apple {
  padding: 10px;
  width: 100%;
}

.phone_gps {
  margin-top: 80px;
}

.phone {
  width: 100%;
}


.background-section {
  background: radial-gradient(#e8e8e8, #F4F4F4, #fafafa, #F4F4F4);
  padding: 10px;
}
.content-communauté {
  margin: 30px;
}
.communauté {
  font-family: 'dolce vita', sans-serif;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.logo-instagram,
.logo-twitter,
.logo-fb {
  width: 50px;
}

/******** FOOTER *********/

footer{
  position: relative;
  width: 100%;
  height: 114px;
  background-color: #032442;
  font-size: 10px;
  color: white;
}
footer ul{
  list-style: none;
  width: 40%;
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-decoration: none;
}
footer ul li a{
  color: white;
  text-decoration: none;
}
footer img{
  position: absolute;
  right: 20px;
  width: 90px;
  bottom: 35px;
}
footer p{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}




@media screen and (min-width: 768px) and (max-width: 992px){



/******** SECTION 1 *******/

.text-content {
  font-size: 30px;
}

/******** SECTION 2 *******/

.background_pack {
  padding: 40px;
}

.title_services {
  display: block;
}

.first_pack {
  font-size: 90px;
  line-height: 65px;;
}

.light_size {
  font-size: 60px;
}

.title_drone {
  font-size: 50px;
}

.typo_size_title {
  font-size: 35px;
}

.description_services {
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
}

.line {
  margin-top: 45px;
  margin-bottom: 45px;
  width: 290px;
}

.garantie {
  font-size: 50px;
  font-weight: 400;
}

.typo_size_paragraphe {
  font-size: 35px;
  font-weight: 300;
}

.button_buy {
  width: 100%;
  margin-top: 80px;
}

.button_buy a{
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 25px;
}


/******** SECTION 3 *******/
.background_pack_quinze {
  background-color: #032442;
  padding: 40px;
  padding-bottom: 90px;
}

.title_services_two {

}

.second_pack {
  font-size: 90px;
  line-height: 65px;;
}

.light_size_pack {
  font-size: 60px;
}

.service_supp {
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 70px;
}

.services_added {
  font-size: 35px;
}

.typo_size_drone {
  font-size: 28px;
}

.description_drone_plus {
  font-size: 28px;
  line-height: 40px;
}

.line_drone_plus {
  margin-top: 45px;
  margin-bottom: 45px;
  width: 290px;
}

.garantie_drone_plus {
  font-size: 50px;

}
.typo_size_drone_plus {
  font-size: 35px;

}

.button_buy {
  margin-top: 80px;
}

.button_buy a{
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 25px;
}

/******** SECTION 4 *******/
.background_pack_deluxe {
  padding: 40px;
}

.title_services_deluxe {

}

.title_deluxe {
  font-size: 90px;
  line-height: 65px;
}

.light_size_deluxe {
  font-size: 60px;
}

.title_drone {
  font-size: 50px;
}

.service_added_deluxe {
  font-size: 50px;
  line-height: 40px;
  margin-bottom: 90px;
}

.services_supp_deluxe {
  font-size: 50px;
}

.typo_size_deluxe {
  font-size: 28x;
}

.deluxe_paragraphe {
  font-size: 28px;
  line-height: 40px;
}

.line {
  margin-top: 45px;
  margin-bottom: 45px;
  width: 290px;
}

.garantie_deluxe {
  font-size: 50px;
}

.typo_deluxe_size {
  font-size: 35px;
  font-weight: 300;
}

.button_buy {
  margin-top: 80px;
}

.button_buy a{
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 25px;
}
 
/******** SECTION 5 *******/
.pictures_drone {
  padding: 40px;
}

/******** SECTION 6 *******/
.background_application {
  padding: 40px;
}

.explication_application {

}

.application_title {
  font-size: 50px;
}

.paragraphe_explication {
  margin-top: 70px;
}
.line_orange {

  margin-right: 20px;
}

.app_paragraphe {
  font-size: 28px;
  line-height: 40px;
}

.bouton_app {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.bouton_app a {
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 25px;
}
}

@media screen and (min-width: 992px) and (max-width: 1500px){
/******** SECTION 1 *******/

.text-content {
  font-size: 50px;
}

/******** SECTION 2 *******/

.background_pack {
  padding: 70px;
}

.title_services {
  display: block;
}

.first_pack {
  font-size: 140px;
  line-height: 110px;
}

.light_size {
  font-size: 80px;
}

.title_drone {
  font-size: 70px;
}

.typo_size_title {
  font-size: 45px;
}

.description_services {
  font-size: 38px;
  line-height: 50px;
}

.line {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 390px;
}

.garantie {
  font-size: 70px;
}

.typo_size_paragraphe {
  font-size: 45px;
}

.button_buy {
  width: 100%;
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 45px;
}


/******** SECTION 3 *******/

.background_pack_quinze {
  padding: 70px;
  padding-bottom: 100px;
}

.title_services_two {

}

.second_pack {
  font-size: 140px;
  line-height: 110px;;
}

.light_size_pack {
  font-size: 80px;
}

.service_supp {
  font-size: 70px;
  line-height: 40px;
  margin-bottom: 70px;
}

.services_added {
  font-size: 70px;
}

.typo_size_drone {
  font-size: 38px;
}

.description_drone_plus {
  font-size: 38px;
  line-height: 50px;
}

.line_drone_plus {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 390px;
}

.garantie_drone_plus {
  font-size: 70px;

}
.typo_size_drone_plus {
  font-size: 45px;

}

.button_buy {
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 300;
  font-size: 45px;
}

/******** SECTION 4 *******/

.background_pack_deluxe {
  padding: 70px;
}

.title_services_deluxe {

}

.title_deluxe {
  font-size: 140px;
  line-height: 110px;
}

.light_size_deluxe {
  font-size: 80px;
}

.title_drone {
  font-size: 70px;
}

.service_added_deluxe {
  font-size: 70px;
  line-height: 40px;
  margin-bottom: 70px;
}

.services_supp_deluxe {
  font-size: 70px;
}

.typo_size_deluxe {
  font-size: 38px;
}

.deluxe_paragraphe {
  font-size: 38px;
  line-height: 50px;
}

.line {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 390px;
}

.garantie_deluxe {
  font-size: 70px;
}

.typo_deluxe_size {
  font-size: 45px;
}

.button_buy {
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 300;
  font-size: 45px;
}
 
/******** SECTION 5 *******/

.pictures_drone {
  padding: 70px;
}

.drone_colis,
.picture_drone_two,
.pictures_drone_one {
  padding: 50px;
}

.drone_colis_picture,
.drone_grey,
.drone_flying {
  width: 100%;
}

/******** SECTION 6 *******/

.background_application {
  padding: 70px;
}

.explication_application {

}

.application_title {
  font-size: 70px;
}

.paragraphe_explication {
  margin-top: 70px;
}
.line_orange {
  margin-right: 40px;
}

.app_paragraphe {
  font-size: 38px;
  line-height: 60px;
}

.bouton_app {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
}

.bouton_app a {
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 35px;
}

/******** SECTION 7 *******/

.logo_app {
  display: flex;
  margin-top: 100px;
}

.android,
.apple {
  padding: 40px;
  width: 100%;
}

.phone_gps {
  margin-top: 100px;
}

.phone {
  width: 100%;
}


.background-section {
  background: radial-gradient(#e8e8e8, #F4F4F4, #fafafa, #F4F4F4);
  padding: 40px;
}
.content-communauté {
  margin: 30px;
}
.communauté {
  font-size: 50px;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.logo-instagram,
.logo-twitter,
.logo-fb {
  width: 80px;
}
}

@media screen and (min-width: 1500px){
/******** SECTION 1 *******/

.text-content {
  font-size: 60px;
}

/******** SECTION 2 *******/

.background_pack {
  padding: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between
}

.title_services {
  display: inline-flex;
  margin-bottom: auto;
}

.first_pack {
  font-size: 190px;
  line-height: 140px;
}

.light_size {
  font-size: 100px;
}

.drone_buy {
  width: 60%;
}

.title_drone {
  font-size: 70px;
}

.typo_size_title {
  font-size: 55px;
}

.description_services {
  font-size: 60px;
  line-height: 65px;
}

.line {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 590px;
}

.garantie {
  font-size: 82px;
}

.typo_size_paragraphe {
  font-size: 60px;
}

.button_buy {
  width: 100%;
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 55px;
}


/******** SECTION 3 *******/

.background_pack_quinze {
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.title_services_two {
  display: inline-flex;
  margin-bottom: auto;
}

.second_pack {
  font-size: 190px;
  line-height: 140px;
}

.light_size_pack {
  font-size: 100px;
}

.service_supp {
  font-size: 70px;
  line-height: 80px;
  text-align: left;
}

.drone_buy_two {
  width: 51%;
}

.services_added {
  font-size: 70px;
}

.typo_size_drone {
  font-size: 38px;
}

.description_drone_plus {
  font-size: 60px;
  line-height: 65px;
}

.line_drone_plus {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 590px;
}

.garantie_drone_plus {
  font-size: 82px;

}
.typo_size_drone_plus {
  font-size: 60px;

}

.button_buy {
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 55px;
  margin-bottom: 100px;
}

/******** SECTION 4 *******/

.background_pack_deluxe {
  padding: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between
}

.title_services_deluxe {
  display: inline-flex;
  margin-bottom: auto;
}

.title_deluxe {
  font-size: 190px;
  line-height: 140px;
}

.light_size_deluxe {
  font-size: 100px;
}

.title_drone {
  font-size: 70px;
}

.service_added_deluxe {
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 70px;
  text-align: left;
}

.services_supp_deluxe {
  font-size: 70px;
}

.typo_size_deluxe {
  font-size: 55px;
}

.deluxe_paragraphe {
  font-size: 60px;
  line-height: 65px;
}

.line {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 590px;
}

.garantie_deluxe {
  font-size: 82px;
}

.typo_deluxe_size {
  font-size: 60px;
}

.button_buy {
  margin-top: 130px;
}

.button_buy a{
  padding: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 55px;
}
 
/******** SECTION 5 *******/

.pictures_drone {
  padding: 10px;
  display: inline-flex;
}

.picture_drone_two {
  padding: 50px;
  width: 100%;
}

.drone_colis {
  padding: 50px;
  width: 100%;
}
.pictures_drone_one {
  padding: 50px;
  width: 100%;
}



/******** SECTION 6 *******/

.background_application {
  padding: 70px;
  display: inline-flex
}

.explication_application {

}

.application_title {
  font-size: 80px;
  text-align: left;
}

.paragraphe_explication {
  margin-top: 70px;
}
.line_orange {
  margin-right: 40px;
}

.app_paragraphe {
  font-size: 60px;
  line-height: 65px;
  width: 60%;
}

.bouton_app {
  width: 100%;
  margin-top: 115px;
}

.bouton_app a {
  padding: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 55px;
}

/******** SECTION 7 *******/

.logo_app {
  display: flex;  
  width: 40%;
}


.phone_gps {
  margin-top: 100px;
}

.background-section {
  background: radial-gradient(#e8e8e8, #F4F4F4, #fafafa, #F4F4F4);
  padding: 40px;
}
.content-communauté {
  margin: 30px;
}
.communauté {
  font-size: 70px;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.logo-instagram,
.logo-twitter,
.logo-fb {
  width: 120px;
}
}